{% extends 'paginas/modelo-agendamento.html' %}

{% load static %}

{% block titulo %}
<title>Sobre</title>
{% endblock %}

{% block destaque%}

{% endblock %}

{% block conteudo %}
<div>

    <h3>Sobre o sistema</h3>

    <p class="lead">Sistema desenvovido por Victor Rizzo com o objetivo de registrar o cadastro de pacientes com suas informações básicas e assim realizar os agendamentos de suas consultas na Clínica Dentistry. 
    </p>
    <p class="lead">Maiores informações favor contactar <a href="mailto:victor09@gmail.com">victor09@gmail.com</a></p> 
</div>
{% endblock %}