{% extends 'paginas/modelo-agendamento.html' %}

{% load static %}

{% block conteudo %}
<h3>Excluir Agendamento</h3>
<p class="lead">
    Somente clique em excluir caso deseje apagar permanentemente o agendamento.
</p>

<hr>

<form action="" method="POST">

    <p>Deseja excluir o agendamento de: <strong>{{ object }}</strong>?

    </p>

    {% csrf_token %}

    {{ form.as_p }}

    <button type="submit" class="btn btn-danger">Excluir</button>
    <a href="{% url 'listar-agendamentos' %}" class="btn btn-primary float-right">Voltar</a>
</form> 

{% endblock %}