{% extends 'paginas/modelo-agendamento.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block conteudo %}

<div class="row">
    <div class="col-md-4 mx-auto">
        <h3>Alterar Senha</h3>

        <!-- <p class="lead">
            Preencha os campos abaixo:
        </p> -->

        <hr>
        <form action="" method="POST">

            {% csrf_token %}
        
            {{ form|crispy }}
        
            <button type="submit" class="btn btn-primary mt-3">Alterar</button>
            <a href="{% url 'index' %}" class="btn btn-primary mt-3 float-right">Voltar</a>
        
        </form>
    </div>
</div>

{% endblock %}